@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
  position: relative;
  display: inline-block;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: theme(
    "colors.zinnwalditeBrown"
  ); /* Replace with Tailwind's timberWolf if needed */
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}
